/* Jiatian Wang
Jialiang Wang */

@charset "UTF-8";
/* styles.css */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;

}

tr:nth-child(even) {
  background-color: #dddddd;
}

body{background-image: url("round.png");
 }


 .wrapper{
   width: 600px;
  padding: 20px;
  margin-left: 35%;
   }

.page-header{
  text-align: center;
}

.form-control{
  width: 300px;
}

.welcome{
  font: 30px sans-serif;
  text-align: center;
}
