/* Jiatian Wang
Jialiang Wang */

@charset "UTF-8";

body{
  background-image: url("round.png");
 }

h2{
  font-style: sans-serif;
}

.table_wrappper{
  width: 600px;
  position: absolute;
  margin-left: 28%;
}

.wrapper{
   width: 600px;
  padding: 20px;
  margin-left: 35%;
   }

.page-header{
  text-align: center;
}

.user{
  position: absolute;
  margin-left: 80%;
  margin-top: 2%;
}

.icon{
  margin-left: 40%;
}

.form-control{
  width: 300px;
}

.welcome{
  font: 30px sans-serif;
  text-align: center;
}

.slogan{
  font-family: cursive; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
}
