@charset "UTF-8";
/* styles.css */
.mainbody{
   text-align: center;
 }

 .login_body{
   font: 14px sans-serif;

  }

 .wrapper{
   width: 350px;
  padding: 20px;
  margin-left: 200px;
   }

a{
  position:left;
}
